/* CSS */
.square {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
}

.square-bg-black {
    background-color: #000;
}

.square {
    transition: background-color 2s ;
}

.squaresContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    width: 960px;
    height: 100%;
    border: black solid 2px;
}
